<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body { margin: 2.5%; }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        socket.on('status', (message) => {
            let content = document.createTextNode(message);
            let li = document.createElement("li"); //Creacion de un elemento li
            li.className = "list-group-item"; //Asignacion de la clase a li (Bootstrap)
            li.appendChild(content);
            document.getElementById('log-list').appendChild(li); //se agrega li al log con el mensaje del servidor
        });
        socket.on('newLeader', (message) => {
            document.getElementById('leader').innerHTML = `Líder id: ${message}`;
            /*
            if (message.id === message.idLeader) {
                console.log(message.id + " - " + message.idLeader);
                let content = document.createTextNode('Renunciar');
                let button = document.createElement("button"); //Creacion de un elemento de tipo button
                button.className = "btn btn-warning"; //Asignacion de la clase a button (Bootstrap)
                button.appendChild(content);
                document.getElementById('main').innerHTML = '';
                document.getElementById('main').appendChild(button);
            } else {
                document.getElementById('main').innerHTML = '';
            }
             */
        });
        socket.on('disconnect', () => {
            socket.close();
            console.log('Conexión del socket cerrada');
        });
        function giveUp() {
            socket.emit('giveup', 'Renuncio');
        }
    </script>
</head>
<body>
<div>
    <h3 id="myId">Servidor id: <%= id%></h3><br>
    <h3 id="leader">Líder id: <%= idLeader%></h3><br>
    <div id="main">
        <% if (id === idLeader) { %>
            <button type="button" class="btn btn-warning" onclick="giveUp()">Renunciar</button>
        <% } %>
    </div>
    <h2>Log</h2>
    <ul class="list-group" id="log-list"></ul>
</div>
</body>
</html>
